@page "/Day06"
@page "/Day6"
@inject DataFetcher dataFetcher

<PageTitle>AoC 2023 - Day 6</PageTitle>

<h3>Day 6</h3>

<pre>
    @inputData
</pre>

<button @onclick=@LoadData>Load The Data</button>


@code {
    private readonly int dayNumber = 6;
    string inputData = string.Empty;

    private async Task LoadData()
    {
        inputData = await dataFetcher.FetchDataAsync(dayNumber);
    }
}
