@page "/Day02"
@page "/Day2"
@inject DataFetcher dataFetcher

<PageTitle>AoC 2023 - Day 2</PageTitle>

<h3>Day 2</h3>

<pre>
    @inputData
</pre>

<button @onclick=@LoadData>Load The Data</button>


@code {
    private readonly int dayNumber = 2;
    string inputData = string.Empty;

    private async Task LoadData()
    {
        inputData = await dataFetcher.FetchDataAsync(dayNumber);
    }
}
